body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: 800px 500px;
  grid-template-rows: 575px 200px;
  margin-top: 10px;
}

.calendar-container {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0;
}

.form-container {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin: 0 5px 0 5px;
}

.time-date-container {
  display: flex;
}

.display-container {
  width: 300px;
  height: 240px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}


#display {
  text-align: center
}

#display_title {
  font-size: 30px;
}

#display_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#display_buttons > img {
  width: 20px;
  margin-right: 5px;
}

#display-empty-msg {
  text-align: center;
}